*{
  margin: 10px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 50px auto;
}

.box {
    width: 250px;
    padding: 10px;
}

.item {
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    text-align: center;
    cursor: grab;
    background-color: #f1f1f1;
}

.item:hover {
    background-color: #ddd;
}
