<div class="content" role="main">
  <h2>Edit this transaction</h2>

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
      <label>Name</label>
      <input type="text" formControlName="name" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Description</label>
      <input type="text" formControlName="description" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Amount</label>
      <input type="number" formControlName="amount" class="form-control" required>
    </div>
    <div class="container">
      <div class="box" id="categories">
        <h3>Categories</h3>
        <div class="item"
             *ngFor="let category of categories; let i = index"
             draggable="true"
             (dragstart)="onDragStart(category)">
          {{category.name}}
        </div>
      </div>

      <div class="box"
           id="current-category"
           (drop)="onDrop($event)"
           (dragover)="allowDrop($event)">
        <h3>Currently:</h3>
        <div id="chosenCategory" class="item">
          {{ selectedCategory?.name || 'None' }}
        </div>
      </div>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Edit</button>
    </div>
  </form>
</div>
